$font-family-title: 'Yeseva One', cursive;
$font-family-sub-title: 'Noto Serif TC', serif;

.font-family-title {
  font-family: $font-family-title;
}
.font-family-sub-title {
  font-family: $font-family-sub-title;
}
