<div class="container pt-4 pt-lg-10 <%= page === "login" ? "flex-grow-1" : "" %>">
  <div class="text-center">
    <img src="../assets/images/sparkler.png" class="login-img mb-3" alt="sparkler">
    <h2 class="fs-4 font-noto-serif-tc fw-bold m-0">會員登入</h2>
  </div>
  <form class="grid gap-3 needs-validation mt-3" novalidate>
    <div class="g-col-12 g-col-lg-4 g-start-lg-5">
      <label for="exampleFormControlInput1" class="form-label text-black">帳號</label>
      <input type="text" class="form-control border-primary" id="exampleFormControlInput1" placeholder="請輸入帳號" required>
    </div>
    <div class="g-col-12 g-col-lg-4 g-start-lg-5">
      <label for="exampleFormControlInput2" class="form-label text-black">密碼</label>
      <input type="password" class="form-control border-primary" id="exampleFormControlInput2" placeholder="請輸入密碼" required>
    </div>
    <div class="g-col-12  g-col-lg-4 g-start-lg-5 mt-3">
      <button class="custom-btn btn btn-primary text-white w-100 py-3 py-lg-2" type="submit">
        登入
        <i class="icofont-rounded-double-right"></i>
      </button>
    </div>
  </form>
</div>