<nav class="border-bottom border-3 border-primary">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center py-9 py-lg-4">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <a href="index.html" class="nav-link d-flex align-items-center me-4 me-lg-5">
            <img src="../assets/images/logo.png" class="logo-img d-block me-lg-3" alt="logo"/>
            <h1 class="d-none d-lg-block fs-2 m-0">7TAO</h1>
            <span class="d-none d-lg-block text-black font-family-sub-title text-nowrap ms-1 fs-6">活動訂票網</span>
          </a>
          <div class="input-group">
            <input type="text" class="form-control flex-grow-0 search-text border-primary border-2 px-9 py-2 px-lg-4 py-lg-3" placeholder="探索活動" aria-label="search" aria-describedby="button-addon2">
            <button class="custom-btn btn btn-primary text-white p-lg-3" type="button" id="searchBtn">
              <i class="icofont-search-1 fs-6 fs-lg-7"></i>
            </button>
          </div>
        </div>
        <a class="d-block d-lg-none position-relative border border-primary rounded px-9 py-1">
          <img src="../assets/images/menu 1.png" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" alt="menu 1">
        </a>
      </div>
      <div class="collapse collapse-position d-lg-block position-lg-static" id="collapseExample">
        <ul class="d-flex flex-column flex-lg-row list-unstyled border-bottom border-3 border-primary border-lg-0 py-4 px-9 p-lg-0 mb-0 m-lg-0">
          <li class="flex-grow-1 mb-3 mb-lg-0 me-lg-4">
            <a href="#" class="nav-link font-family-title fs-7"><i class="icofont-ui-file me-1"></i>REGISTER</a>
          </li>
          <li class="flex-grow-1">
            <a href="login.html" class="nav-link font-family-title fs-7"><i class="icofont-ui-user me-1"></i>LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
