.custom-card-img {
  height: 210px;
  @include media-breakpoint-up(lg) {
    height: 255px;
  }
}
.custom-card-cate {
  &:hover span {
    text-decoration: underline;
  }
  img {
    width: 20px;
    height: 20px;
    @include media-breakpoint-up(lg) {
      width: 24px;
      height: 24px;
    }
  }
}
.custom-card-link {
  &:hover::before {
    content: "";
    display: block;
    background: $secondary;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -10px;
    z-index: -1;
  }
}

.custom-album-card {
  height: 380px;
  &.rotate-2 {
    transform: rotate(2deg);
  }
  &.rotate-n2 {
    transform: rotate(-2deg);
  }
}
.custom-album-card-img {
  width: 267px;
  height: 267px;
  @include media-breakpoint-up(lg) {
    width: 274px;
    height: 274px;
  }
}
.custom-album-card-tag {
  &.rotate-n3 {
    transform: translate(-50%, -50%) rotate(-3deg);
  }
  &.rotate-n4 {
    transform: translate(-50%, -50%) rotate(-4deg);
  }
}
