.custom-btn {
  @extend .btn;
  @extend .btn-primary;
  @extend .text-white;
}
.custom-btn:hover {
  @extend .text-secondary;
}
.custom-btn:disabled {
  color: #ebeae3;
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
