.header img {
  height: 350px;
  @include media-breakpoint-up(lg) {
    height: 518px;
  }
}
.custom-carousel-btn {
  width: 10%;
}
.carousel-title {
  top: map-get($spacers, 3);
  left: map-get($spacers, 7);
  @include media-breakpoint-up(lg) {
    top: map-get($spacers, 5);
    left: map-get($spacers, 5);
  }
}

.cate-img {
  width: 40px;
  height: 40px;
  @include media-breakpoint-up(lg) {
    width: 80px;
    height: 80px;
  }
}
.cate-link:hover {
  color: $tertiary;
  .cate-img {
    filter: invert(53%) sepia(18%) saturate(1620%) hue-rotate(313deg)
      brightness(86%) contrast(81%);
  }
}
.cate-link-more:hover {
  color: $tertiary !important;
}

.online-img {
  height: 158px;
  object-position: center 33%;
  @include media-breakpoint-up(lg) {
    height: 317px;
  }
}

.contact-link::before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 1.5px;
  top: 0;
  z-index: -1;
  transition: 0.8s;
}
.contact-link:hover {
  color: $white;
}
.contact-link:hover::before {
  width: 100%;
  background-color: $primary;
}

.login-modal .modal-dialog {
  max-width: 351px;
  @include media-breakpoint-up(lg) {
    max-width: 636px;
  }
}
