.header img {
  width: 100%;
  height: 350px;
  @extend .object-fit-cover;
  @extend .position-relative;
  @include media-breakpoint-up(lg) {
    height: 518px;
  }
}
.custom-carousel-btn {
  width: 10%;
}
.carousel-title {
  @extend .position-absolute;
  top: map-get($spacers, 3);
  left: map-get($spacers, 7);
  @include media-breakpoint-up(lg) {
    top: map-get($spacers, 5);
    left: map-get($spacers, 5);
  }
}
.carousel-sub-title {
  @extend .position-absolute;
  @extend .bottom-0;
  @extend .start-50;
  @extend .translate-middle-x;
}

.cate-img {
  width: 40px;
  height: 40px;
  @include media-breakpoint-up(lg) {
    width: 80px;
    height: 80px;
  }
}
.cate-link:hover {
  @extend .text-tertiary;
  .cate-img {
    filter: invert(53%) sepia(18%) saturate(1620%) hue-rotate(313deg)
      brightness(86%) contrast(81%);
  }
}
.cate-link-more:hover {
  @extend .text-tertiary;
}

.online-img {
  height: 158px;
  object-position: center 33%;
  @include media-breakpoint-up(lg) {
    height: 317px;
  }
}

.contact-link::before {
  content: "";
  @extend .d-block;
  width: 0%;
  height: 100%;
  @extend .position-absolute;
  top: 1.5px;
  @extend .start-0;
  @extend .z-n1;
  transition: 0.8s;
}
.contact-link:hover {
  @extend .text-white;
}
.contact-link:hover::before {
  @extend .w-100;
  @extend .bg-primary;
}
